<html>
<head>
  <title></title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">



  <script type="text/javascript">

var cx = '017643444788069204610:ea_c4kzu4-8'; // education test

var init = function(cx) {
  //var cx = '017643444788069204610:t5phifdbs2g';
  //var cx = '011100701990899434039:caqm-wwf3ps';
  //var cx = '017643444788069204610:ea_c4kzu4-8'; // education test
  var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
  gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') +
      '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
};

function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(window.location.search)||[,null])[1]
    );
}

console.log(cx)

cx = getURLParameter('cx') == 'null' ? cx : getURLParameter('cx');
console.log(decodeURI(cx))
init(cx)
  </script>





</head>
<body>



  <div id="test"></div>

  <div class="maia-header" id="maia-header" role="banner">
    <div class="csedu-container">
      <h1>
        {% block title %}Schema Labs presents{% endblock %}
      </h1>
    </div>
  </div>
  <div class="csedu-container">
    {% block content %}content {%endblock %}
  </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
